/LostInOzonServer/.vs/IronPythonApplication1/v14
/LostInOzonServer/.vs/PythonServer/v14
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.Modules.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.Modules.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.SQLite.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.SQLite.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.Wpf.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.Wpf.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/IronPython.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.exe
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.exe.config
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.pdb
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.vshost.exe
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.vshost.exe.config
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/LostInOzoneClientApp.vshost.exe.manifest
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Dynamic.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Dynamic.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.AspNet.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.AspNet.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.Metadata.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.Metadata.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Microsoft.Scripting.xml
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Newtonsoft.Json.dll
/LostInOzoneClientApp/LostInOzoneClientApp/bin/Debug/Newtonsoft.Json.xml
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/LostInOzoneClientApp.csproj.FileListAbsolute.txt
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/LostInOzoneClientApp.csprojResolveAssemblyReference.cache
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/LostInOzoneClientApp.exe
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/LostInOzoneClientApp.pdb
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LostInOzoneClientApp/LostInOzoneClientApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/DynamicLanguageRuntime.1.1.2.nupkg
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Dynamic.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Dynamic.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.AspNet.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.AspNet.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.Core.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.Core.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.Metadata.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.Metadata.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net35/Microsoft.Scripting.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Dynamic.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Dynamic.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.AspNet.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.AspNet.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.Metadata.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.Metadata.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net40/Microsoft.Scripting.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Dynamic.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Dynamic.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.AspNet.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.AspNet.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.Metadata.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.Metadata.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Net45/Microsoft.Scripting.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Sl5/Microsoft.Dynamic.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Sl5/Microsoft.Dynamic.xml
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Sl5/Microsoft.Scripting.Silverlight.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Sl5/Microsoft.Scripting.dll
/LostInOzoneClientApp/packages/DynamicLanguageRuntime.1.1.2/lib/Sl5/Microsoft.Scripting.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/IronPython.2.7.7.nupkg
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.Modules.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.Modules.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.SQLite.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.SQLite.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net35/IronPython.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.Modules.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.Modules.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.SQLite.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.SQLite.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.Wpf.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.Wpf.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net40/IronPython.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.Modules.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.Modules.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.SQLite.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.SQLite.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.Wpf.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.Wpf.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Net45/IronPython.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.Modules.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.Modules.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.SQLite.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.SQLite.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.dll
/LostInOzoneClientApp/packages/IronPython.2.7.7/lib/Sl5/IronPython.xml
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipy.exe
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipy.exe.config
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipy64.exe
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipy64.exe.config
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyc.exe
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyc.exe.config
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyw.exe
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyw.exe.config
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyw64.exe
/LostInOzoneClientApp/packages/IronPython.2.7.7/tools/ipyw64.exe.config
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/LICENSE.md
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/Newtonsoft.Json.10.0.2.nupkg
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net20/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net20/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net35/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net35/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net40/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net40/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net45/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/net45/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/portable-net40+sl5+win8+wpa81+wp8/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/portable-net40+sl5+win8+wpa81+wp8/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.dll
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/lib/portable-net45+win8+wpa81+wp8/Newtonsoft.Json.xml
/LostInOzoneClientApp/packages/Newtonsoft.Json.10.0.2/tools/install.ps1
